.manager-container {
  width: 22rem;
  background-color: rgb(204, 202, 202);
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 1rem 1rem 3rem;
}
.h2 {
  width: 100%;
  text-align: center;
}
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
th,td{
     padding: 5px;
  text-align: center;  
}
.empNum{
  color: red;
}
.logout-div {
  width: 100%;
  text-align: right;
}
.logout-btn {
  border-radius: 7px;
  color: white;
  font-size: 1rem;
  background-color: gray;
  margin: 5px auto;
  width: 5rem;
  height: 1.5rem;
  border: 1.5px solig black;
}
